In [1]:
'''
021. 문자열 인덱싱
letters가 바인딩하는 문자열에서 첫번째, 세번째 문자를 출력하세요.

letters = 'python'
'''
letters = 'python'
print(letters[0], letters[2])

p t

In [2]:
'''
022. 문자열 슬라이싱
자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

license_plate = "24가 2210"
'''

license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [3]:
'''
023. 문자열 인덱싱
아래 문자열에서 '홀'만 출력하세요.

string = "홀짝홀짝홀짝"
'''

string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [4]:
'''
024. 문자열 슬라이싱
문자열을 거꾸로 뒤집어 출력하세요.

string = "PYTHON"
'''

string = "PYTHON"
print(string[::-1])

NOHTYP

In [5]:
'''
025. 문자열 치환
아래의 전화번호에서 하이푼을 제거하고 출력하세요.

phone_number = "010-1111-2222"
'''

phone_number = "010-1111-2222"
replaced_number = phone_number.replace('-', ' ')
print(replaced_number)

010 1111 2222

In [6]:
'''
026. 문자열 다루기
025번 문제를 모두 붙여 출력하세요.
'''
phone_number = phone_number.replace('-', '')
print(phone_number)

01011112222

In [7]:
'''
027. 문자열 다루기
url에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

url = "http://sharebook.kr"
'''

url = "http://sharebook.kr"
domain = url.split('.')[-1]
print(domain)

kr

In [8]:
'''
028. 문자열은 immutable
'''

lang = 'python'
lang[0] = 'P'
print(lang)

# 문자열 수정 불가

TypeError: 'str' object does not support item assignment

In [9]:
'''
029. replace 메서드
소문자 'a'를 대문자 'A'로 변경하세요.
'''

string = 'abcdfe2a354a32a'
replacedString = string.replace('a', 'A')

print(replacedString)

Abcdfe2A354A32A

In [10]:
'''
030. replace 메서드
'''

string = 'abcd'
string.replace('b', 'B')
print(string) # abcd

abcd

In [11]:
'''
031. 문자열 합치기
'''

a = "3"
b = "4"

print(a+b) #34

34

In [13]:
'''
032. 문자열 곱하기
'''

print('Hi' * 3) #반복 HiHiHi

HiHiHi

In [14]:
'''
033. 문자열 곱하기
화면에 '-'를 80개 출력하세요.
'''

print('-'*80)

--------------------------------------------------------------------------------

In [19]:
'''
034. 문자열 곱하기
'''
t1 = 'python'
t2 = 'java'

t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

python java python java python java python java

In [22]:
'''
035. 문자열 출력
변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해 다음과 같이 출력해보세요.

name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
'''

name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d" %(name1, age1))
print("이름: %s 나이: %d" %(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [24]:
'''
036. 문자열 출력
문자열의 format 메서드를 사용하여 다시 풀어보세요.

'''

name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [25]:
'''
037. 문자열 출력
파이썬 3.6부터 지원하는 f-string을 사용해서 다시 풀어보세요.

'''

name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [26]:
'''
038. 컴마 제거하기
삼성전자의 상장주식수가 다음과 같다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.
'''

상장주식수 = "5,969,782,550"
상장주식수 = int(상장주식수.replace(',', ''))
print(상장주식수, type(상장주식수))

5969782550 <class 'int'>

In [28]:
'''
039. 문자 슬라이싱 
다음과 같은 문자열에서 2020/03만 출력하세요
분기 = "2020/03(E) (IFRS연결)"
'''

분기 = "2020/03(E) (IFRS연결)"
날짜 = 분기.split('(')[0]
print(날짜, 분기[:7]) # split, slicing

2020/03 2020/03

In [29]:
'''
040. strip 메서드
문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

'''

data = "  삼성전자    "
data = data.strip()

print(data)

삼성전자

In [ ]:
'''
041. upper 메서드
대문자로 변경하세요/
'''