In [1]:
'''
051. 리스트 생성
영화제목을 movie_rank 이름의 리스트로 저장해보세요.
'''

movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
movie_rank

:

In [3]:
'''
052. 리스트 원소 추가
movie_rank 리스트에 배트맨을 추가하라
'''

movie_rank.append('배트맨')
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [4]:
'''
053. 리스트 원소 중간 추가
movie_rank 리스트의 슈퍼맨을 닥터 스트레인저와 스플릿 사이에 추가하라
'''

movie_rank.insert(1, "슈퍼맨") # insert(인덱스, 원소)
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [6]:
'''
054. 리스트 삭제
movie_rank 리스트에서 럭키를 삭제하라
'''

del movie_rank[3]
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [8]:
'''
055. 리스트 여러 개 삭제
movie_rank 리스트에서 스플릿과 배트맨을 삭제하라
'''

del movie_rank[2:]
movie_rank

['닥터 스트레인지', '슈퍼맨']

In [11]:
'''
056. 리스트 확장
lang1과 lang2 리스트의 원소를 모두 갖고 있는 langs 리스트를 만들어라
'''

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1+lang2 # 두 리스트를 더하면 새로운 리스트가 생성됨
langs

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [15]:
'''
057. 리스트에서 최댓값, 최솟값 출력
'''

nums = [1, 2, 3, 4, 5, 6, 7]

print(f"max: {max(nums)} \nmin: {min(nums)}")

max: 7
min: 1

In [16]:
'''
058. 리스트 합계
'''

nums = [1, 2, 3, 4, 5]
sum(nums)

15

In [17]:
'''
059. 데이터 개수
'''

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [20]:
'''
060. 데이터 평균
'''

nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)

print(average)

3.0

In [21]:
'''
061. 슬라이싱
price 변수에는 날짜와 종가 정보가 저장되어있다. 가격 정보만 출력하라.

price = ['20180728', 100, 130, 140, 150, 160, 170] 
'''

price = ['20180728', 100, 130, 140, 150, 160, 170] 
price[1:]

[100, 130, 140, 150, 160, 170]

In [22]:
'''
062. 슬라이싱
슬라이싱을 사용해서 홀수만 출력하라
'''

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

numbers[::2]

[1, 3, 5, 7, 9]

In [23]:
'''
063. 슬라이싱
슬라이싱을 사용해서 짝수만 출력하라
'''

numbers[1::2]

[2, 4, 6, 8, 10]

In [24]:
'''
064. 슬라이싱
역순으로 출력하라
'''

nums = [1, 2, 3, 4, 5]
nums[::-1]

[5, 4, 3, 2, 1]

In [25]:
'''
065. 리스트 출력
'''

interest = ['삼성전자', 'LG전자', 'Naver']

print(interest[0], interest[2])

삼성전자 Naver

In [28]:
'''
066. join 메서드
'''

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
" ".join(interest)

'삼성전자 LG전자 Naver SK하이닉스 미래에셋대우'

In [29]:
'''
067. join 메서드
'''

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
"/".join(interest)

'삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우'

In [32]:
'''
068. join 메서드
'''

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
"\n".join(interest)

'삼성전자\nLG전자\nNaver\nSK하이닉스\n미래에셋대우'

In [33]:
'''
069. 문자열 split 메서드
string을 슬래시로 구분되어 저장된 문자열로 저장되어 분리 저장하라.
'''

string = "삼성전자/LG전자/Naver"
string.split('/')

['삼성전자', 'LG전자', 'Naver']

In [40]:
'''
070. 리스트 정렬
오름차순으로 정렬하세요.
'''
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

data = [2, 4, 3, 1, 5, 10, 9]
data2 = sorted(data)
data2

[1, 2, 3, 4, 5, 9, 10]

[1, 2, 3, 4, 5, 9, 10]