In [2]:
'''
071. 튜플 초기화
'''

my_variable = ()
print(my_variable, type(my_variable))

() <class 'tuple'>

In [3]:
'''
072. 튜플 저장
영화제목을 movie_rank 이름의 튜플에 저장하라
'''

movie_rank = ('닥터 스트레인지', '스플릿', '럭키')
movie_rank

('닥터 스트레인지', '스플릿', '럭키')

In [7]:
'''
073. 튜플 저장
숫자 1이 저장된 튜플을 생성하라
'''

num = (1) # 정수로 인식해버림
print(num, type(num))

num = (1,)
print(num, type(num)) # 하나의 데이터가 저장되는 경우, 쉼표랑 같이 입력

1 <class 'int'>
(1,) <class 'tuple'>

In [8]:
'''
074. 튜플의 원소는 불변
'''
t = (1, 2, 3)
t[0] = 1 # 튜플은 원소의 값을 변경할 수 없음

TypeError: 'tuple' object does not support item assignment

In [9]:
'''
075. 튜플 바인딩
'''

t = 1, 2, 3, 4 
type(t) # tuple : 원칙적으로 ()로 정의하지만 생략 가능

tuple

In [13]:
'''
076. 튜플 가공
아래 변수 t를 ('A', 'b', 'c') 튜플로 수정하라
'''

t = ('a', 'b', 'c')
# t[0] = 'A' # 불가
t = ('A', 'b', 'c') # 새로 할당
t

('A', 'b', 'c')

In [16]:
'''
077. 튜플 -> 리스트
'''
interest = ('삼성전자', 'LG전자', 'SK Hynix')

list(interest) # list()

['삼성전자', 'LG전자', 'SK Hynix']

In [17]:
'''
078. 리스트 -> 튜플 
'''

tuple(interest)

('삼성전자', 'LG전자', 'SK Hynix')

In [18]:
'''
079. 튜플 언팩킹 (따로 분리)
'''

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

:

In [21]:
'''
080. range 함수

1부터 99까지의 정수 중 짝수만 저장된 튜플을 생성
'''

tuple(range(2, 100, 2))

(2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98)