In [2]:
'''
131. for문의 실행 결과를 예측하라
'''

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [3]:
'''
132. for문의 실행 결과를 예측하라
'''

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print("#####")

#####
#####
#####

In [4]:
'''
133. for문과 동일한 기능을 수행하는 코드를 작성하시오
'''

for 변수 in ["A", "B", "C"]:
    print(변수)

변수 = "A"
print(변수)
변수 = "B"
print(변수)
변수 = "C"
print(변수)

A
B
C
A
B
C

In [8]:
'''
134. for문을 풀어서 동일한 동작을 하는 코드를 작성하라.
'''

for 변수 in ["A", "B", "C"]:
    print("출력:", 변수)

변수 = "A"
print("출력:", 변수)
변수 = "B"
print("출력:", 변수)
변수 = "C"
print("출력:", 변수)

출력: A
출력: B
출력: C
출력: A
출력: B
출력: C

In [1]:
'''
135. for문을 풀어서 동일한 동작을 하는 코드를 작성하라.
'''

for 변수 in ["A", "B", "C"]:
    b = 변수.lower()
    print("변환: ", b)

변환:  a
변환:  b
변환:  c

In [3]:
'''
136. 다음 코드를 for문으로 작성하라
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)
'''

for i in range(1, 4):
    print(i*10)


for 변수 in [10,20,30]:
    print(변수)

10
20
30
10
20
30

In [ ]:
'''
137. 다음 코드를 for문으로 작성하라.
print(10)
print(20)
print(30)
'''

for 변수 in [10,20,30]:
    print(변수)

In [4]:
'''
138. 다음 코드를 for문으로 작성하라.
print(10)
print('-------')
print(20)
print('-------')
print(30)
print('-------')
'''

for 변수 in [10, 20, 30]:
    print(변수)
    print('-------')

10
-------
20
-------
30
-------

In [5]:
'''
139. 다음 코드를 for문으로 작성하라.
print("++++")
print(10)
print(20)
print(30)
'''

print("++++")
for 변수 in [10, 20, 30]:
    print(변수)

++++
10
20
30

In [8]:
'''
140. 다음 코드를 for문으로 작성하라.
print("-------")
print("-------")
print("-------")
print("-------")

'''

for _ in range(4):
    print("-------")

for 변수 in ['','','','']:
    print("-------")

-------
-------
-------
-------
-------
-------
-------
-------

In [9]:
'''
141. 다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for문을 사용해서 화면 출력하라. 단 부가세는 10원으로 가정함
'''

리스트 = [100, 200, 300]

for 변수 in 리스트:
    print(변수+10)

110
210
310

In [11]:
'''
142. for문을 사용해서 리스트에 저장된 값을 오늘의 메뉴: 변수 형태로 출력하라
'''

리스트 = ["김밥", "라면", "튀김"]

for 변수 in 리스트:
    print("오늘의 메뉴:", 변수)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [12]:
'''
143. 주식종목이름의 문자열 길이를 출력하라
'''

리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

for 변수 in 리스트:
    print(len(변수))

6
4
4

In [13]:
'''
144. 리스트의 동물이름과 글자수를 출력하라
'''

리스트 = ['dog', 'cat', 'parrot']

for 변수 in 리스트:
    print(변수, len(변수))

dog 3
cat 3
parrot 6

In [14]:
'''
145. 리스트의 동물이름의 첫글자만 출력하라
'''

리스트 = ['dog', 'cat', 'parrot']

for 변수 in 리스트:
    print(변수[0])

d
c
p

In [15]:
'''
146. 세 개 숫자가 바인딩된 리스트를 사용하여 3 X N 형태로 출력하라
'''

리스트 = [1,2,3]

for 변수 in 리스트:
    print("3 X", 변수)

3 X 1
3 X 2
3 X 3

In [17]:
'''
147. 세 개 숫자가 바인딩된 리스트에서 구구단을 출력하라
'''

리스트 = [1,2,3]

for 변수 in 리스트:
    print("3 X", 변수, "=", 3*변수)
    # print("3 X {} = {}".format(변수, 3*변수))

3 X 1 = 3
3 X 1 = 3
3 X 2 = 6
3 X 2 = 6
3 X 3 = 9
3 X 3 = 9

In [18]:
'''
148. 네 개의 문자열이 바인딩된 리스트에 for문을 사용해 나~라만 출력하라
'''

리스트 = ["가", "나", "다", "라"]
리스트 = 리스트[1:]

for 변수 in 리스트:
    print(변수)

나
다
라

In [22]:
'''
149. 네 개의 문자열이 바인딩된 리스트에서 가, 다만 출력하라
'''

리스트 = ["가", "나", "다", "라"]
리스트 = 리스트[::2]

for 변수 in 리스트:
    print(변수)

가
다

In [24]:
'''
150. 네 개의 문자열이 바인딩된 리스트를 거꾸로 출력하라
'''

리스트 = ["가","나","다","라"]
리스트 = 리스트[::-1]

for 변수 in 리스트:
    print(변수)

라
다
나
가

In [26]:
'''
151. 네 개의 정수가 저장된 리스트 중 음수만 출력하여라
'''

리스트 = [3, -20, -3, 44]

for 변수 in 리스트:
    if 변수 < 0:
        print(변수)

-20
-3

In [27]:
'''
152. for문을 사용해서 3의 배수만 출력하라
'''

리스트 = [3, 100, 23,44]

for 변수 in 리스트:
    if not 변수%3:
        print(변수)

3

In [28]:
'''
153. 리스트에서 20보다 작은 3의 배수를 출력하라
'''

리스트 = [13, 21, 12, 14, 30, 18]

for 변수 in 리스트:
    if 변수 < 20 and 변수%3 == 0:
        print(변수)

12
18

In [30]:
'''
154. 리스트에서 세 글자 이상인 문자를 화면에 출력하라
'''

리스트 = ["I", "study", "python", "language", "!"]

for 변수 in 리스트:
    if len(변수) >= 3 :
        print(변수)

study
python
language

In [32]:
'''
155. 리스트에서 대문자만 화면에 출력하라
'''

리스트 = ["A", "b", "c", "D"]

for 변수 in 리스트:
    if 변수.isupper():
        print(변수)

A
D

In [33]:
'''
156. 리스트에서 소문자만 화면에 출력하라
'''

리스트 = ["A", "b", "c", "D"]

for 변수 in 리스트:
    if 변수.islower() :
        print(변수)

b
c

In [35]:
'''
157. 이름의 첫 글자를 대문자로 변경해서 출력하라
'''

리스트 = ["dog", "cat", "parrot"]

for 변수 in 리스트:
    print(변수.capitalize())

for 변수 in 리스트:
    print(변수[0].upper() + 변수[1:])

Dog
Cat
Parrot
Dog
Cat
Parrot

In [36]:
'''
158. 파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라
'''

리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

for 변수 in 리스트:
    print(변수.split('.')[0])

hello
ex01
intro

In [37]:
'''
159. 파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라
'''

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for 변수 in 리스트:
    if 변수.split(".")[1] == 'h':
        print(변수)

intra.h
define.h

In [38]:
'''
160. 파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일 이름을 출력하라
'''

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for 변수 in 리스트:
    if 변수.split(".")[1] == 'h' or 변수.split(".")[1] == 'c':
        print(변수)

intra.h
intra.c
define.h

In [40]:
'''
161. for문과 range구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라
'''

for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [41]:
'''
162. 월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 개최되는 연도를 출력하라
'''

for i in range(2002, 2051, 4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [43]:
'''
163. 1부터 30까지의 숫자 중 3의 배수를 출력하라
'''

for i in range(3, 31, 3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [45]:
'''
164. 99부터 0까지 1씩 감소하는 숫자들을 한 라인에 하나씩 출력하라
'''

for i in range(99, -1, -1):
    print(i)

for i in range(100):
    print(99-i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [49]:
'''
165. for문을 사용하여 0.0~0.9까지 출력하라
'''

for i in range(10):
    print(i*0.1)

for num in range(10):
    print(num/10)

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9
0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [50]:
'''
166. 구구단 3단을 출력하라
'''

for i in range(1, 10):
    print("3 X {} = {}".format(i, i*3))

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [51]:
'''
167. 구구단 3단을 출력하라, 단 홀수 번째만 출력하라
'''

for i in range(1, 10, 2):
    print("3 X {} = {}".format(i, i*3))

3 X 1 = 3
3 X 3 = 9
3 X 5 = 15
3 X 7 = 21
3 X 9 = 27

In [53]:
'''
168. 1~10까지 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for문을 사용하여 작성하라
'''

total = 0

for i in range(1, 11):
    total += i

print(total)

55

In [54]:
'''
169. 1~10까지 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for문을 사용하여 작성하라
'''

total = 0

for i in range(1, 11, 2):
    total += i

print(total)

25

In [55]:
'''
170. 1~10까지 숫자를 모두 곱한 값을 출력하는 프로그램을 for문을 사용하여 작성하라
'''

com = 1
for i in range(1, 11):
    com *= i

print(com)

3628800

In [56]:
'''
171. for문과 range 문을 사용하여 리스트 데이터를 출력하라
'''

price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [57]:
'''
172. for문과 range문을 사용하여 index, data 순으로 출력하라
'''

price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [59]:
'''
174. 리스트 데이터를 다음과 같이 출력하라
100 32150
110 32000
120 32500
'''

price_list = [32100, 32150, 32000, 32500]
price_list = price_list[1:]

for i in range(len(price_list)):
    print(100+(i*10), price_list[i])

100 32150
110 32000
120 32500

In [60]:
'''
175. my_list를 아래와 같이 출력하라
'''

my_list = ["가", "나", "다", "라"]

for i in range(len(my_list)-1):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [61]:
my_list = ["가", "나", "다", "라", "마"]

for i in range(len(my_list)-2):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [63]:
'''
177. 반복문과 range 함수를 사용해서 my_list를 역정렬로 출력하라
'''

my_list = ["가", "나", "다", "라"]
my_list = my_list[::-1]

for i in range(len(my_list)-1):
    print(my_list[i], my_list[i+1])

my_list = ["가", "나", "다", "라"]

for i in range(len(my_list) -1 ):
    print(my_list[len(my_list)-1-i], my_list[len(my_list)-2-i])

라 다
다 나
나 가
라 다
다 나
나 가

In [64]:
'''
178. 리스트에는 네 개의 정수가 있을 경우, 각 데이터에 대해 자신과 우측값과의 차분값을 화면에 출력하라
'''

my_list = [100, 200, 400, 800]

for i in range(len(my_list)-1):
    print(my_list[i+1]-my_list[i])

100
200
400

In [65]:
'''
179. 리스트에는 6일간의 종가 데이터가 저장되어있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라
'''

my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(len(my_list)-2):
    print((my_list[i]+my_list[i+1]+my_list[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [68]:
'''
180. 리스트에 5일간의 저가, 고자 정보가 있을 때, 변동폭을 volatility 리스트에 저장하라
'''

low_prices = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []

for i in range(len(low_prices)):
    volatility.append(high_prices[i]-low_prices[i])

volatility

[50, 100, 30, 80, 0]

In [69]:
'''
181. 하나의 행을 하나의 리스트로 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라
'''

apart = [['101호', '102호'], ['201호', '202호', '301호', '302호']]

apart

[['101호', '102호'], ['201호', '202호', '301호', '302호']]

In [70]:
'''
182. 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라
'''

stock = [['시가', 100, 200, 300], ['종가', 80, 210, 330]]

stock

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [71]:
'''
183. stock이름의 딕셔너리를 생성하라, 시가와 종가는 key로 나머지 데이터는 리스트로 저장하라
'''

stock = {
    '시가' : [100, 200, 300],
    '종가': [80, 210, 330]
}

stock

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [72]:
'''
184. stock이라는 딕셔너리를 생성하나 날짜를 key로하고 나머지 행 데이터는 리스트로 저장하라
'''

stock = {
    '10/10': [80, 110, 70, 90],
    '10/11': [210, 230, 190,200]

}

stock

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [74]:
'''
185. 리스트에 저장된 데이터를 출력하라
'''

apart = [[101,102],[201,202],[301,302]]

for i in range(len(apart)):
    for j in range(len(apart[i])):
        print(apart[i][j],"호")

for row in apart:
    for col in row:
        print(col, "호")

101 호
102 호
201 호
202 호
301 호
302 호
101 호
102 호
201 호
202 호
301 호
302 호

In [76]:
'''
186. 리스트에 저장된 데이터를 출력하여라
'''

apart = [[101, 102], [201, 202], [301, 302]]

apart = apart[::-1]

for row in apart:
    for col in row:
        print(col, "호")

301 호
302 호
201 호
202 호
101 호
102 호

In [77]:
'''
187. 리스트에 저장된 데이터를 출력하여라
'''

apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row[::-1]:
        print(col, "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [78]:
'''
188. 리스트에 저장된 데이터를 출력하여라
'''

apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, "호")
        print("-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [79]:
'''
189. 리스트에 저장된 데이터를 출력하여라
'''

apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, "호")
    print("-"*5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [80]:
'''
190. 리스트에 저장된 데이터를 출력하여라
'''

apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, "호")
print("-"*5)

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [82]:
'''
191. data에는 매수한 종목들의 OHLC(open, high, low, close) 가격 정보가 바인딩 되어 있다
수수료를 0.014%로 가정할 때, 각 가격에 수수료를 포함 가격을 한라인에 출력하라
'''

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]


for row in data:
    for col in row:
        print(col+col*1.00014)

4000.2799999999997
6100.427
4100.287
3960.2772
15001.05
4100.287
4100.287
3960.2772
30902.163
30102.107
31102.177
29802.086000000003

In [83]:
'''
192. 191번 출력 결과를 행단위로 구분자를 추가하라
'''

for line in data:
    for column in line:
        print(column * 1.00014)
    print("-"*4)

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [85]:
'''
193. 192번 문제의 결과값을 result 이름의 리스트에 1차원 배열로 저장하라
'''

result = []
for line in data:
    for column in line:
        result.append(column * 1.00014)

result

[2000.28,
 3050.427,
 2050.2870000000003,
 1980.2772,
 7501.05,
 2050.2870000000003,
 2050.2870000000003,
 1980.2772,
 15452.163,
 15052.107,
 15552.177,
 14902.086000000001]

In [86]:
'''
194. 193번 문제의 결과값을 result 이름의 리스트에 2차원 배열로 저장하라
'''

result = []
for line in data:
    temp = []
    for column in line:
        temp.append(column * 1.00014)
    result.append(temp)
result

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772],
 [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772],
 [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [89]:
'''
195. ohlc 리스트에는 시가(open), 고가(high), 저가(low), 종가(close)가 날짜별로 저장되어 있다. 종가데이터를 출력하라
'''

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

ohlc = ohlc[1:]

for i in range(len(ohlc)):
    print(ohlc[i][3])

for row in ohlc[1:]:
    print(row[3])

100
190
310

In [90]:
'''
196. ohlc 리스트에는 시가(open), 고가(high), 저가(low), 종가(close)가 날짜별로 저장되어있다. 종가가 150원보다 큰 경우에만 종가를 출력하라
'''

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]


for row in ohlc[1:]:
    if row[3] > 150:
        print(row[3])

190
310

In [91]:
'''
197. ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라.
'''

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[3] >= row[0]:
        print(row[3])

100
310

In [93]:
'''
198. ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.
'''
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []
for row in ohlc[1:]:
    volatility.append(row[1]-row[2])

volatility

[40, 30, 10]

In [94]:
'''
199. 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.
'''

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[3] > row[0]:
        print(row[1]-row[2])

10

In [95]:
'''
200. 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.
'''

total = 0

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    total += row[3] - row[0]

print(total)

0