In [1]:
'''
201. "비트코인" 문자열을 화면에 출력하는 print_coin()함수를 정의하라 
'''

def print_coin() :
    print("비트코인")

In [2]:
'''
202. 201에서 정의한 함수를 호출하라
'''

print_coin()

비트코인

In [3]:
'''
203. 201에서 정의한 print_coin 함수를 100번 호출하라
'''

for _ in range(100):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [4]:
'''
204. "비트코인" 문자열을 100번 화면에 출력하는 print_coins() 함수를 정의하라
'''

def print_coins():
    for _ in range(100):
        print("비트코인")

In [5]:
'''
205. 에러가 발생하는 이유를 설명하라
'''
hello()
def hello():
    print("Hi") # 함수 정의 전에 호출함

NameError: name 'hello' is not defined

In [6]:
'''
206. 아래 코드의 실행 결과를 예측하라
'''

# A B C A B
def message() :
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

In [7]:
'''
207. 아래 코드의 실행 결과를 예측하라
'''

# A C B
print("A")

def message() :
    print("B")

print("C")
message()

A
C
B

In [8]:
'''
208. 아래 코드의 실행 결과를 예측하라
'''

# A C B E D
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

A
C
B
E
D

In [9]:
'''
209. 아래 코드의 실행 결과를 예측하라
'''

# B A
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

B
A

In [10]:
'''
210. 아래 코드의 실행 결과를 예측하라
'''

# B C B C B C A
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

In [11]:
'''
211. 함수의 호출 결과를 예측하라
'''

# 안녕 Hi
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

In [12]:
'''
212. 함수의 호출 결과를 예측하라
'''

# 7 15
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

7
15

In [14]:
'''
213. 에러가 나는 원인을 설명하라
'''

def 함수(문자열) :
    print(문자열)

함수() # 함수 정의와 다르게 파라미터를 입력하지 않음

TypeError: 함수() missing 1 required positional argument: '문자열'

In [15]:
'''
213. 에러가 나는 원인을 설명하라
'''

def 함수(a, b) :
    print(a + b)

함수("안녕", 3) # 문자열과 숫자를 더하는 것은 불가

TypeError: can only concatenate str (not "int") to str

In [16]:
'''
215. 문자열을 받아 끝에 :D 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라
'''

def print_with_smile(문자열) :
    print(문자열 + ":D")

In [17]:
'''
216. 215에서 정의한 함수를 호출하라. 파라미터는 안녕하세요 로 입력하시오 
'''

print_with_smile("안녕하세요")

안녕하세요:D

In [18]:
'''
217. 현재 가격을 입력받아 상한가를 출력하는 print_upper_price 함수를 정의하라
'''

def print_upper_price(가격):
    print(가격 * 1.3)

In [19]:
'''
218. 두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라
'''

def print_sum(n, m):
    print(n+m)

In [20]:
'''
219. 두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라
'''

def print_arithmetic_operation(n, m):
    print(n,"+",m,"=",n+m)
    print(n,"-",m,"=",n-m)
    print(n,"*",m,"=",n*m)
    print(n,"/",m,"=",n/m)

print_arithmetic_operation(3,4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [22]:
'''
220. 세 개의 숫자를 입력받아 가장 큰 수를 출력하는 print_max 함수를 정의하라
'''

def print_max(a,b,c):
    max = a

    if max<=b:
        max = b
    if max <= c:
        max = c
    print(max)

print_max(1,6,5)

6

In [29]:
'''
221. 입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라
'''

def print_reverse(문자열): 
    li_str = list(문자열)
    li_str = li_str.reverse()
    li_str = ''.join(li_str)
    print(li_str)

print_reverse("python")

TypeError: can only join an iterable

In [30]:
'''
222. 성적 리스트를 입력받아 평균을 출력하는 print_score 함수를 정의하라
'''

def print_score(li):
    print(sum(li)/len(li))

print_score ([1, 2, 3])

2.0

In [32]:
'''
223. 하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라
'''

def print_even(li):
    for n in li:
        if not(n%2):
            print(n)

print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [34]:
'''
224. 하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라
'''

def print_keys(obj):
    for key in obj:
        print(key)

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [35]:
'''
225. my_dict와 날짜 키값을 입력받아 OHLC 리스트를 출력하는 print_value_by_key 함수를 정의하라
'''

my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key(dic, key):
    print(dic[key])

print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]

In [40]:
'''
226. 입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string)함수를 작성하라\
'''

def print_5xn(string):
    for i in range(0,len(string),5):
        print(string[i:i+5])
print_5xn("아이엠어보이유알어걸")


def print_5xn(line):
    chunk_num = int(len(line) / 5)
    for x in range(chunk_num + 1) :
        print(line[x * 5: x * 5 + 5])

print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸
아이엠어보
이유알어걸

In [42]:
'''
227. 문자열과 한줄에 출력될 글자 수를 입력을 받아 한 줄에 입력된 글자 수만큼 출력하는 print_mxn(string) 함수를 작성하라.
'''

def print_mxn(string, m):
    for i in range(0,len(string),m):
        print(string[i:i+m])
        
print_mxn("아이엠어보이유알어걸", 3)

def print_mxn(line, num):
    chunk_num = int(len(line) / num)
    for x in range(chunk_num + 1) :
        print(line[x * num: x * num + num])

아이엠
어보이
유알어
걸

In [43]:
'''
228. 연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라.
'''

def calc_monthly_salary(annual_salary) :
    print(int(annual_salary/12))

In [44]:
'''
229. 아래 코드의 실행결과를 예측하라
'''

# 왼쪽: 100 오른쪽: 200
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

In [46]:
'''
230. 아래 코드의 실행결과를 예측하라
'''

# 왼쪽: 200 오른쪽: 100

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

In [47]:
'''
231. 아래 코드를 실행한 결과를 예상하라
'''

# 에러남
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result) # 함수 내부 변수는 함수 밖에서 접근 불가

NameError: name 'result' is not defined

In [49]:
'''
232. 문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라
'''
def make_url(str):
    return "www."+str+".com"

make_url("naver")

'www.naver.com'

In [51]:
'''
233. 문자열을 입력받아 리스트로 반환하는 make_list 함수를 정의하라
'''

def make_list(str):
    return list(str)

make_list("abcd")

['a', 'b', 'c', 'd']

In [52]:
'''
234. 숫자 리스트를 입력받아 짝수를 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라
'''

def pickup_even(li):
    even_li = []
    for n in li:
        if not(n%2):
            even_li.append(n)
    return even_li

pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [56]:
'''
235. 콤마가 포함된 문자열 숫자를 받아 정수로 변환하는 convert_int 함수를 정의하라
'''

def convert_int(str):
    return int(''.join(str.split(',')))

convert_int("1,234,567")

def convert_int (string) :
    return int(string.replace(',', ''))

1234567

In [58]:
'''
236. 코드의 실행결과를 예측하라
'''

# 22
def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

22

In [59]:
'''
237. 코드의 실행결과를 예측하라
'''

# 22
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

22

In [60]:
'''
238. 코드의 실행결과를 예측하라
'''

# 140
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

140

In [61]:
'''
239. 코드의 실행결과를 예측하라
'''

# 16
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

16

In [62]:
'''
240. 코드의 실행결과를 예측하라
'''

# 28
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

28